:root {
    --primary-brand-iris:#4D5AE5;
    --pressed-state-ocean:#404BBF;
    --dark-navy-blue: #2E2F42;
    --success-green: #31D0AA;
    --text-slate: #434455;
    --subtle-text-light-slate: #8E8F99;
    --accent-cornflower: #E7E9FC;
    --light-cloud: #F4F4FD;
    --navy-blue-modal-overlay: #2E2F42;
    --hero-background-grey: #2E2F42;
    --white-background: #FFFFFF;
    --dairy-modal-background: #FCFCFC; 

}

body { 
    font-family:'Roboto', sans-serif;
    letter-spacing: 0.02em;
    color: var(--dark-navy-blue);
    background-color: var(--white-background);
    font-size: 16px;
    color: var(--text-slate);
}
.logo {
    color: var(--primary-brand-iris);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    font-family: "Raleway", sans-serif;

}

.link{
    text-decoration: none;
}
.logo-header {
    color: var(--dark-navy-blue);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
   
    font-family: "Raleway", sans-serif;
    
}

.logo-footer {
    color: var(--light-cloud);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;  
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    
}

.header-link{
    color: var(--dark-navy-blue);
    font-weight: 500;
    line-height: 1.5;

    
}
.header-link:hover {
    color: var(--pressed-state-ocean);
}
.header-link:focus {
    color: var(--pressed-state-ocean);
}

.contact {
    color: var(--text-slate);
    font-size: 16px;
    line-height: 1.5;
}

.contact:hover {
    color: var(--pressed-state-ocean);
}
.contact:focus{
    color: var(--pressed-state-ocean);
}

.main-section{
    background-color: var(--dark-navy-blue);
   
}

.main-header {
    color: var(--white-background);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    
   

}   

.main-button {
    background-color: var(--primary-brand-iris);
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    letter-spacing: 0.04em;
    font-weight: 500;
    line-height: 1.5;
    color: var(--white-background);


}
.main-button:hover {
    background-color: var(--pressed-state-ocean);

}

.main-button:focus {
    background-color: var(--pressed-state-ocean);

}


.features-heading{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-navy-blue);
    
}

.feature-description {
    color: var(--text-slate);
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}

.seconadry-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--dark-navy-blue);
    text-transform: capitalize;
    
       
}


.team-card-section {
    background-color: var(--light-cloud);
}

.team-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;  
    text-transform: capitalize;
    color: var(--dark-navy-blue);
    letter-spacing: 0.02em; 
}

.team-card{
    color: var(--dark-navy-blue);
    background-color: var(--white-background);
}

.team-card-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--dark-navy-blue);
    letter-spacing: 0.02em;
}

.team-description {
    color: var(--text-slate);
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.footer-section {
    background-color: var(--navy-blue-modal-overlay);

}

.footer-text {
    color: var(--light-cloud);
    line-height: 1.5;
}


/* Portfolio*/


.filter-button {
    background-color: var(--light-cloud);
    cursor: pointer;
    color: var(--primary-brand-iris);
    letter-spacing: 0.04em;
    font-weight: 500;
    line-height: 1.5;
}

.filter-button:hover {
    background-color: var(--pressed-state-ocean);
    color: var(--white-background);

}
.filter-button:focus {
    background-color: var(--pressed-state-ocean);
    color: var(--white-background);
}


.project-card {
    
}

.project-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--dark-navy-blue);
}

.project-text {
    color: var(--text-slate);
    line-height: 1.5;
}


.list {
    list-style: none;
}

