:root {
    --primary-brand-iris:#4D5AE5;
    --pressed-state-ocean:#404BBF;
    --dark-navy-blue: #2E2F42;
    --success-green: #31D0AA;
    --text-slate: #434455;
    --subtle-text-light-slate: #8E8F99;
    --accent-cornflower: #E7E9FC;
    --light-cloud: #F4F4FD;
    --navy-blue-modal-overlay: #2E2F42;
    --hero-background-grey: #2E2F42;
    --white-background: #FFFFFF;
    --dairy-modal-background: #FCFCFC; 

}

body { 
    font-family:'Roboto', sans-serif;
    letter-spacing: 0.02em;
    color: var(--dark-navy-blue);
    background-color: var(--white-background);
    font-size: 16px;
    
}
.logo {
    color: var(--primary-brand-iris);
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-decoration: none;
    font-family: "Raleway", sans-serif;

}
.logo-header {
    color: var(--dark-navy-blue);
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    
}

.logo-footer {
    color: var(--light-cloud);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;  
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    
}

.header-link{
    color: var(--dark-navy-blue);
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    
}
.header-link:hover {
    color: var(--pressed-state-ocean);
}
.header-link:focus {
    color: var(--pressed-state-ocean);
}

.contact {
    color: var(--subtle-text-light-slate);
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
}

.contact:hover {
    color: var(--pressed-state-ocean);
}
.contact:focus{
    color: var(--pressed-state-ocean);
}

.main-section{
    background-color: var(--dark-navy-blue);
    width: 1440px;
    height: 600px;
    left: 0px;
    top: 72px;
}

.main-header {
    color: var(--white-background);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    
    position: absolute;
    width: 496px;
    height: 120px;
    left: 472px;
    top: 260px;

}   

.main-button {
    background-color: var(--primary-brand-iris);
    position: absolute;
    width: 169px;
    height: 56px;
    left: 636px;
    top: 428px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    letter-spacing: 0.04em;
    font-weight: 500;
    line-height: 1.5;
    color: var(--white-background);
    align-items: center;


}
.main-button:hover {
    background-color: var(--pressed-state-ocean);

}

.main-button:focus {
    background-color: var(--pressed-state-ocean);

}


.features-heading{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    
}

.feature-description {
    color: var(--text-slate);
    line-height: 2.652;
    
}

.seconadry-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    
       
}


.team-card-section {
    background-color: var(--light-cloud);
}

.team-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;  
    text-align: center;
    text-transform: capitalize;
}

.team-card{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-card-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.team-description {
    color: var(--text-slate);
    line-height: 1.5;
    text-align: center;
}

.footer-section {
    background-color: var(--navy-blue-modal-overlay);

}

.footer-text {
    color: var(--light-cloud);
    line-height: 1.5;
}


/* Portfolio*/


.filter-button {
    background-color: var(--light-cloud);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 12px 24px;
    width: 116px;
    height: 48px;
    cursor: pointer;

    color: var(--primary-brand-iris);
    text-align: center;
    letter-spacing: 0.04em;
    font-weight: 500;
    line-height: 1.5;
}

.filter-button:hover {
    background-color: var(--pressed-state-ocean);
    color: var(--white-background);

}
.filter-button:focus {
    background-color: var(--pressed-state-ocean);
    color: var(--white-background);
}


.project-card {
    width: 360px;
    height: 420px;
    left: 540px;
    top: 288px;
}

.project-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.project-text {
    color: var(--text-slate);
    line-height: 1.5;
}
